# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ / VS Code
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

# Fabric
run/
.fabric/

# Eclipse
.project
.classpath
.settings/
bin/

# Mac
.DS_Store

# Environment secrets
.env
*.secret
__pycache__
